* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 20px; */
}

header {
  background-color: #255EE9;
  padding-top: 1rem;
  padding-bottom: 4px;
}

header nav {
  margin-bottom: 1rem;
}

header nav .container {
  display: flex;
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer {
  background-color: #23272a;
  padding-top: 6px;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

.bg-blue {
  background-color: #255EE9;
}

.bg-grey {
  background-color: #d3d3d3;
}

.nav-links,
.nav-logo,
.nav-login {
  padding: 0.5rem;
}

.nav-logo,
.nav-login {
  min-width: 150px;
}

.nav-links {
  flex-grow: 1;
}

.nav-links ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav-links ul a {
  display: inline-block;
  padding: 0 0.3rem;
  text-decoration: none;
  color: white;
}

.nav-login {
  text-align: center;
}

.btn-small {
  border-radius: 15px;
  background-color: white;
  border: none;
  width: 60px;
  height: 30px;
}

.hero-section {
  background-image: url(../img/jumbo.png);
  padding: 2rem 0;
  background-size: cover;
}

.hero-section .container {
  max-width: 600px;
  min-height: 300px;
  text-align: center;
}

h1 {
  font-size: 30px;
  color: white;
  padding-top: 5rem;
}

.hero-section p {
  color: white;
  padding-top: 20px;
}

.btn-mid {
  border-radius: 15px;
  border: none;
  width: 8rem;
  height: 35px;
  background-color: white;
  margin-top: 20px;
}

.btn-big {
  border-radius: 15px;
  border: none;
  width: 12rem;
  background-color: #23272A;
  color: white;
  height: 35px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;

}

.row {
  display: flex;
}

.col-large,
.col-small {
  min-height: 300px;
}

h2 {
  font-size: 30px;
}

.col-large {
  width: 70%;
}

.col-small {
  width: 40%;
}

.col-small h2 {
  padding-top: 30px;
}

.col-small p {
  padding-top: 20px;
}

.box-green {
  min-height: 500px;
}

.box-green h2 {
  text-align: center;
  padding-top: 40px;
}

.box-green p {
  text-align: center;
  padding-top: 20px;
}

.box-green .img-item4 {
  padding: 40px;
}

h3 {
  font-size: 18px;
  text-align: center;
  margin: auto;
  min-height: 3rem;
  width: 350px;
}

.box-stars h3 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url(../img/stars.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.btn-cyan {
  background-color: #7288DA;
  color: white;
  border-radius: 15px;
  border: none;
  width: 8rem;
  height: 35px;
  margin-top: 20px;
}

.box-cta {
  text-align: center;
}

h4 {
  color: #7389DD;
  font-size: 16px;
}

.col-content1 {
  padding-top: 40px;
  padding-left: 20px;
  line-height: 30px;

}

.italian-flag {
  width: 18px;
  height: 12px;
}

.language {
  color: white;
  font-size: smaller;
}

.selector-language {
  color: white;
}

.box-icons {
  padding-left: 20px;
  padding-top: 5px;
}

h5 {
  color: #718ADA;
}

.product-list {
  list-style: none;
  color: white;
  font-size: small;
  line-height: 30px;

}

.col h5 {
  padding-top: 40px;
}

.col .product-list {
  padding-top: 10px;
}

footer .col {
  flex-grow: 1;
  background-color: #23272A;
  min-height: 300px; 
}

footer .col-large {
  width: 15%;
  background-color: #23272A;
}

footer hr {
  margin-top: 1.4rem;
  margin-bottom: 1rem;
}

.secondary-footer {
  background-color: #7fffd4;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.footer-logo,
.footer-btn {
  border: 1px dashed black;
  padding: 0.5rem;
  background-color: #FFB6C1;
}